.search-form
  display: flex
  gap: 16px
  padding-left: 40px
  width: 100%


.search-form__button 
  margin: 0
  padding: 0
  border: none
  background-color: #fff
  cursor: pointer

.search-form__input
  flex: 1
  padding: 5px
  padding-right: 2rem
  height: 18px
  border: 1px solid transparent
  outline: none
  &:focus
    border-radius: 5px
    border-color: #f0f0f0


.search-form__sort-select
  border: none
  outline: none
  background-color: #fff

.search-form__sort-label, .search-form__sort-select
  display: flex
  align-items: center
  gap: 15px
  font-size: var(--default-text)
  text-shadow: 0 4px 4px rgba(0,0,0,0.25)
  

