:root
  --default-text: 14px
html 
  font-family: 'Vela Sans', sans-serif

.page-wrapper 
  margin: 0 auto
  padding-top: 104px;
  max-width: 1360px

.page-main 
  display: flex
  justify-content: center

.button
  margin: 0
  padding: 0
  background-color: #fff
  border: none
  cursor: pointer

.visually-hidden
  position: absolute
  left: 9999px
  width: 1px
  height: 1px
  overflow: hidden
